PLUGINS ReactionFilter
THREAD_TIMEOUT_FIRST_EVENT 300 
THREAD_TIMEOUT 300
######## CHANNELS ########
Reaction1 1_14__28_20_14
Reaction1:Decay1 28__1_26
Reaction1:Flags B4
Reaction1:Name antisig0sig0__antisig0__gantilamb__B4

Reaction1 1_14__28_20_14
Reaction1:Decay1 28__1_26
Reaction1:Flags B4_M28_M20
Reaction1:Name antisig0sig0__antisig0__gantilamb__B4_M28_M20





