PLUGINS ReactionFilter
THREAD_TIMEOUT_FIRST_EVENT 300 
THREAD_TIMEOUT 300
######## CHANNELS ########
Reaction1 1_14__28_20_14
Reaction1:Decay1 28__1_26
Reaction1:Flags B4
Reaction1:Name antisig0sig0__antisig0_gantilamb__B4

Reaction2 1_14__28_20_14
Reaction2:Decay1 28__1_26
Reaction2:Flags B4_M20_M28
Reaction2:Name antisig0sig0__antisig0_gantilamb__B4_M20_M28





