PLUGINS monitoring_hists,ReactionFilter
THREAD_TIMEOUT_FIRST_EVENT 300 
THREAD_TIMEOUT 300
######## CHANNELS ########
Reaction1  1_14__16_16_14
Reaction1:Flags B4
Reaction1:Name ksks__B4

Reaction2  1_14__16_16_14
Reaction2:Flags M16_M16_B4
Reaction2:Name ksks__M16_M16_B4

Reaction3: 1_14__8_9_8_9_14
Reaction3:Flags B4



