PLUGINS monitoring_hists,ReactionFilter
THREAD_TIMEOUT_FIRST_EVENT 300 
THREAD_TIMEOUT 300
######## CHANNELS ########


Reaction1 1_14__18_26_14
Reaction1:Decay1 18__9_14
Reaction1:Decay2 26__8_15
Reaction1:Flags B4
Reaction1:Name antilamblamb__B4

Reaction2 1_14__18_26_14
Reaction2:Decay1 18__9_14
Reaction2:Decay2 26__8_15
Reaction2:Flags B4_M18_M26
Reaction2:Name antilamblamb__B4_M18_M26


