PLUGINS ReactionFilter
THREAD_TIMEOUT_FIRST_EVENT 300 
THREAD_TIMEOUT 300
######## CHANNELS ########
Reaction1 1_14__14_30_22
Reaction1:Flags B4
Reaction1:Name antixi0xi0__B4


Reaction2 1_14__14_30_22
Reaction2:Flags B4_M22_M30
Reaction2:Name antixi0xi0__B4_M22_M30


Reaction3 1_14__14_26_7_18_7
Reaction3:Flags B4
Reaction3:Name antilambpi0lambpi0__B4

